<% include partials/header%>
<h1>This is the show template</h1>
<%= location.name%>
<img src="<%= location.image %>" alt="">
<%= location.description%>

<% location.comments.forEach(function(comment){ %>
    <p><strong><%= comment.author %></strong> - <%=comment.text%></p>
<%})%>

<% include partials/footer%>